<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.ivaylokhr.crawl" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AIGameActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_game"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Activities.GameActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_game"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Activities.HighScores"
            android:label="@string/title_activity_high_scores"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Activities.Settings"
            android:label="@string/title_activity_set"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Bluetooth.DeviceListActivity"
            android:label="@string/title_activity_device_list" >
        </activity>
    </application>

</manifest>
